* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
#root {
}
.board {
  height: 400px;
  width: 400px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
}
.board-row {
  flex: 1;
  display: flex;
  justify-content: center;
}
.square {
  flex: 1;
  border-radius: 0px;
  border: 1px solid black;
}
